---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.greedy-nav .visible-links a:before {
  background-color: #453c90;
}

/* DROPDOWNS USING SELECT - BASE */
select {
  outline: none;
  font: 17px 'Source Sans Pro', sans-serif;
  -webkit-appearance: none;
  cursor: pointer;
  color: #3C434A;
  border-color: #757575;
  border-radius: 4px;
  border-style: solid;
  border-width: 1.1px;
  min-width: 300px;
  padding: 8px 16px;
  background: #FFFFFF url('https://i.imgur.com/hRbauFc.png') no-repeat scroll right center;
}

 /* Social Buttons */
   
 .btn--linkedin {
    background-color: #007bb6;
    color: #fff !important;
    border-style: none;
  }

  .btn--google-plus {
     background-color: #dd4b39;
     color: #fff !important;
     border-style: none;
  }

  .btn--facebook {
     background-color: #3b5998;
     color: #fff !important;
     border-style: none;
  }

  .btn--twitter {
      background-color: #55acee;
      color: #fff !important;
      border-style: none;
  }
