---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.greedy-nav .visible-links a:before {
  background-color: #453c90;
}

/* DROPDOWNS USING SELECT - BASE */
select {
  outline: none;
  -webkit-appearance: none;
  font: 14px 'Open Sans', sans-serif;
  cursor: pointer;
  color: #3C434A;
  border-color: #A6AFB7;
  min-width: 300px;
  padding: 8px 16px;
  border-radius: 3px;
  background: #FFFFFF url('https://i.imgur.com/hRbauFc.png') no-repeat scroll right center;
}
select:hover, select:active {
  border-color: #A6AFB7;
}

